<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="appName" value="Luna Server" />


    <targets async="true">
        <!-- write log to file  -->
        <target xsi:type="File"
                name="default"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
                fileName="${basedir}/logs/log-all-${shortdate}.log"
                keepFileOpen="false"
                archiveFileName="${basedir}/logs/archived/log_all_${shortdate}.{##}.log"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveFiles="30"
            />
        <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="ownFile-web" fileName="${basedir}/logs/log-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

        <!-- another file log for CBMSAuditDbContext log monitoring  -->
        <target xsi:type="File" name="audit-dbContext" fileName="${basedir}/logs/audit/log-audit-dbContext-${shortdate}.log"
           layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <!--<target name="console" xsi:type="Console"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            />
        <target name="debugger" xsi:type="OutputDebugString"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"-->
        />
        <!--<target xsi:type="EventLog"
            name="eventlog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>-->
    </targets>
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="default" />

        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <!-- BlackHole without writeTo -->
        <logger name="*" minlevel="Trace" writeTo="ownFile-web" />

        <!--<logger name="*" writeTo="console" levels="Warn,Info,Error,Fatal,Trace"/>
        <logger name="*" writeTo="debugger" levels="Warn,Info,Error,Fatal,Trace"/>-->
        <!--<logger name="*" writeTo="eventlog" minlevel="Error" />-->

        <logger name="AuditDbContextLog" writeTo="audit-dbContext" levels="Warn,Info,Error,Fatal,Trace" final="true" />

    </rules>
</nlog>

